Django
djangorestframework
django-cors-headers
python-dotenv

langchain
langchain-core
langchain-community
langchain-classic
langchain-chroma
langchain-google-genai

chromadb
langchain-huggingface
sentence-transformers

transformers
torch

faster-whisper

google-generativeai

numpy
pandas
scikit-learn

pytubefix
moviepy