Django
djangorestframework
django-cors-headers
python-dotenv

langchain
langchain-core
langchain-community
langchain-classic
langchain-chroma
langchain-google-genai
langchain-huggingface

chromadb
sentence-transformers

google-generativeai

openai-whisper

transformers
torch

numpy
pandas
scikit-learn

pytubefix
moviepy

gunicorn
whitenoise