
{% extends "accounts/base_auth.html" %}

{% block title %}
Login | AI Video Analyzer
{% endblock %}

{% block content %}

<h2>Welcome Back</h2>

<p>
    Sign in to continue analyzing videos with AI.
</p>

<form method="POST">

    {% csrf_token %}

    {% if form.non_field_errors %}
        <ul class="errorlist">
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Username -->

    <div class="form-group">

        <label for="{{ form.username.id_for_label }}">
            Username
        </label>

        {{ form.username }}

        {% for error in form.username.errors %}
            <small class="errorlist">{{ error }}</small>
        {% endfor %}

    </div>

    <!-- Password -->

    <div class="form-group">

        <label for="{{ form.password.id_for_label }}">
            Password
        </label>

        <div class="password-wrapper">

            {{ form.password }}

            <i class="fa-solid fa-eye toggle-password"></i>

        </div>

        {% for error in form.password.errors %}
            <small class="errorlist">{{ error }}</small>
        {% endfor %}

    </div>

    <!-- Remember Me -->

    <div style="display:flex; justify-content:space-between; align-items:center; margin-bottom:25px;">

        <label style="display:flex; align-items:center; gap:8px; color:#CBD5E1; font-size:14px;">

            <input type="checkbox" name="remember_me">

            Remember Me

        </label>

        <a href="#"
           style="color:#38BDF8; text-decoration:none; font-size:14px;">

            Forgot Password?

        </a>

    </div>

    <button type="submit" class="auth-btn">

        Login

    </button>

</form>

<div class="divider">

    OR

</div>

<div class="auth-links">

    Don't have an account?

    <a href="{% url 'accounts:register' %}">
        Create Account
    </a>

</div>

{% endblock %}

